$font-color: #242635;
body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  //   padding: 20px;
}
.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #c87f2a;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #c87f2a;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
h2 {
  font-family: "Megrim", cursive;
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.text {
  max-width: 416px;
  max-height: 246px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  margin: 0px;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
}
.arrow-down {
  width: 16px;
  height: 40px;
}
.arrow-down:hover {
  transform: scale(1.2);
}
.food {
  max-width: 576px;
  max-height: 648px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    // float: left;
    display: flex;
  }
  div.content {
    margin-left: 0;
  }
  h1 {
    font-size: 70px;
  }
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
